.footer-follow {
  height: 16em;
  margin-top: 9.3em;
  background-color: #F4F3F0;

  .follow-text {
    padding-top: 3.6em;
    margin-bottom: -0.5em;
  }

  .follow-links {

    a{ 
      padding: 0.7em 1em;
    }

    .tw {
      background-color: $twitter-follow-button-bg;
    }
    
    .fb {
      background-color: $facebook-follow-button-bg;  
    }

  }
}

.footer-email-signup {
  padding-top: 7.0em;
  height: 10em;
  background-color: white;

  .footer-email-label {
    padding-top: 0.3em;
    float: none;

    @include breakpoint ('regular') {
      float: right;
    }
  }

  .footer-email-input, .footer-email-button {
    margin-top: 0.5em;
    padding: 0.0em 0.3em;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: button;
    
    @include breakpoint ('regular') {
      margin-top: 0;
    }
  }

  .footer-email-input {
    width: 70%;
    border: 1px solid #AAA;
  
    @include breakpoint ('regular') {
      width: 100%;
    }
  }

  .footer-email-button {
    width: 50%;
    border: none;

    @include breakpoint ('regular') {
      width: 50%;
      height: 2.35em;
    }
  }
}


.site-footer{
    padding-top: 1.5em;

    * {
      margin: 0;
      padding: 0;
    }
    
    ul, li, a {
      font-family: "Times New Roman", Times, serif;
      font-weight: 400;
      color: $footer-text;
      padding-right: 0.4em;
      display: inline;
      list-style: none;
      text-decoration: none;
    }

    .credits a, .copyright {
      
      @include breakpoint ('tiny') {
        text-align: center;
      }
      
      color: $footer-text;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 0.8em;
      font-weight: 400;
      text-align: left;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0em;
    }

    a:hover {
      color: $footer-text;
      text-decoration: underline;
    }
}

.footer-bottom{
    background-color: $default-bg-color;
    height: 4.5em;
}