.logo img{
  box-shadow: 0 4px 3px -3px #808080;
}

//* { outline: 1px solid green; }

//@TODO: Remove this if not used.
#head-container{
}


.mnav {
		float: right;
}

.menu-top-nav-left-container, .menu-top-nav-right-container {
  float: right;
  margin-right: -2em;
  padding-top: 2em;
	
	li {
		margin:  0 0.55em;
	}
}

.menu-top-nav-right-container {
  float: left;
  margin-left: -2em;
}

.site-header .logo {
  display: block;
  text-align: center;
 
  img {
    background-color: #fff;
    padding: 1% 5%;
    margin-left: 5em;

    @include breakpoint('regular') {
      padding: 5% 15%;
      margin-left: 0;
    }
  }
}

.home-hero-bg {
  margin-top: -280px;
  margin-bottom: 5.3em;
  height: 400px;
  background: url("images/home-hero-bg.jpg");
  background-size: cover;

  @include breakpoint('regular') {
		margin-top: -285px;
  }

}

.hero-bg {
  margin-top: -180px;
  margin-bottom: 5.3em;
  height: 200px;
  background: url("images/hero-bg.jpg");
  background-size: cover;

  @include breakpoint('regular') {
    margin-top: -170px;
  }

}

.headline {

  .home-first-line {
    margin-top: 0.5em;

    @include breakpoint ('regular') {
       margin-top: 1.85em;
    }
  }

  .first-line {
    margin-top: -1em;

    @include breakpoint ('regular') {
       margin-top: 0.5em;
    }
  }

}

.header-email-signup {
	height: 3em;

	.header-email-label {
		float: none;

		@include breakpoint ('regular') {
			float: right;
      font-size: 1.2em;
		}
	}

	.header-email-input, .header-email-button {
		margin-top: 0.5em;
		padding: 0.0em 0.3em;
		border: none;
		border-radius: 0;
		box-shadow: none;
		-webkit-appearance: button;
		
		@include breakpoint ('regular') {
			margin-top: 0;
		}
	}

	.header-email-input {
			width: 70%;

		@include breakpoint ('regular') {
			width: 100%;
		}
	}

	.header-email-button {
		width: 50%;
		
    @include breakpoint ('regular') {
			width: 75%;
      height: 2.3em;
		}
	}
}
