//* { outline: 1px solid green; }

.row {
	max-width: 960px;
}

.site-main {
  margin-top: -1.3em;
}

#content {
    width: 90%;
    margin: 0 auto;

    @include breakpoint ('regular'){
      width: 100%;
    }
}

.site-content {
  margin-top: 1.5em;

  .entry-content {
    margin: 3em 0 0;
    line-height: 1.90em;
  }
}

footer.entry-meta {
  margin-bottom: 5.8em;
}

.share {
  background-color: $share-button-bg;
  float: right;
  padding: 1.0em 1em;
  border-radius: 2px;
}

.share:hover {
  background-color: darken($share-button-bg, 20%);
  
  .plus {
    background-color: lighten($plus-button-bg, 100%);
  }
}

.plus {
  background-color: $plus-button-bg;
  text-align: right;
  margin-right: 0.5em;
  padding: 0.0em 0.2em 0.2em 0.35em;
  border-radius: 3px;
  display: inline;
}

.job-button { // Note there is a jobs-button (plural) for the widget area
  
  a {
  background-color: $jobs-button-bg;
  float: right;
  padding: 0.9em 1em;
  }
}

////////////////////////////
// Widgets
////////////////////////////
.widget {
  margin-bottom: 3em;

  @include breakpoint('regular') {
    margin-bottom: 5em;
  }

  h1 {
    border-bottom: 1px solid $default-border-color;
    margin: 0em 0.5em;
    padding: 1.15em 0 0.2em 0.0em;
  }

  ul, ol {
    margin: 0;
    padding: 1em 1em;
    list-style: none; 
  }
  
  li {
    margin: 1.5em 0em 0em 0em;
  }

}



////////////////////////////
// Event Calendar Widget
////////////////////////////

.tribe-events-list-widget {
  background-color: $event-feed-bg;

  .tribe-events-widget-link { // View More Button

    a {
      color: white;
      background-color: $event-follow-button-bg;
      float: right;
      padding: 0.7em 1em;
    }
  }
}

////////////////////////////
// Jobs Widget
////////////////////////////

.widget-jobs {
  background-color: $jobs-widget-bg;

  .widget-title{
    border-bottom: 1px solid $jobs-border-color;
  }

  .textwidget { // Jobs Text Widget Styling
    padding: 1em 1em;
  }

  .jobs-button {  // Note ther is a job-button (singular) for non-widget jobs related buttons
    
    a {
    background-color: $jobs-button-bg;
    float: right;
    padding: 0.9em 1em;
    }
  }
}

////////////////////////////
// Twitter
////////////////////////////

.twitter-title-div {
  background-color: $twitter-feed-bg;
}

.widget_twitter {
  
  h1 {
    border-bottom: 1px solid $twitter-border-color;
  }

  ul, ol {
    background-color: $twitter-feed-bg;
  }
}

.from-meta, .intent-meta {
  display: none;
}

.follow-button {
  display: inherit;
  float: right;
  background-color: $twitter-follow-button-bg;
  padding: 0.7em 1em;
}

.button-icon {
  margin: 0 7px 0px 0px;
}
// ------------------------


////////////////////////////
// Startup Page
////////////////////////////

.startup-row{
  
  @include breakpoint ('regular') {
    margin-bottom: 3em;
    margin-top: -2.3em;
  }
}
.startup-logo {
  text-align: center;
  min-width: 300px;
  min-height: 210px;
}

.startup-button {
  background-color: $smke-red;
  padding: 0.9em 1em;
  clear: both;
  float: right;
}


////////////////////////////
// About Page
////////////////////////////

#content{
  .feature-image, .picture, .partner-picture {
    text-align: center;
  }

  .picture img {
    border-radius: 50%;
  }

  .link {
    
    a{
      color: white;
      background-color: $event-follow-button-bg;
      float: right;
      padding: 0.9em 1em;
    }
  }
}























