/* 
* CSS reset. Slightly modified version of the normalize.css reset - http://github.com/necolas/normalize.css 
* Modifications by Scott Lyttle
*/


html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
    background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}
ol, ul {
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
}
a img {
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, nav, section, summary {
    display: block;
}

//Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

// Prevents modern browsers from displaying 'audio' without controls.
audio:not([controls]) {
    display: none;
    height: 0;
}

//Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4.
[hidden] {
    display: none;
}

// Base
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

//Addresses font-family inconsistency between 'textarea' and other form elements.
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

// Addresses margins handled incorrectly in IE6/7
body {
    margin: 0;
}


// Links
a:focus {
    outline: thin dotted;
}

// Improves readability when focused and also mouse hovered in all browsers
a:hover,
a:active {
    outline: 0;
}

// Typography
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

//Addresses styling not present in IE7/8/9, S5, Chrome
abbr[title] {
    border-bottom: 1px dotted;
}

// Addresses style set to 'bolder' in FF3+, S4/5, Chrome
b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

// Addresses styling not present in S5, Chrome
dfn {
    font-style: italic;
}

// Addresses styling not present in IE6/7/8/9
mark {
    background: #ff0;
    color: #000;
}

// Addresses margins set differently in IE6/7
p, pre {
    margin: 1em 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

//orrects font family set oddly in IE6, S4/5, Chrome
pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

// Improves readability of pre-formatted text in all browsers
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

//Addresses CSS quotes not supported in IE6/7
q {
    quotes: none;
}

// Addresses quote property not supported in S4
q:before, q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

//Prevents sub and sup affecting line-height in all browsers
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


// Lists
dl, menu, ol, ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

// Addresses paddings set differently in IE6/7
menu, ol, ul {
    padding: 0 0 0 40px;
}

// Corrects list images handled incorrectly in IE7
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}


// Embedded Content
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}


// Figures
figure {
    margin: 0;
}


// Forms
form {
    margin: 0;
}

//Define consistent border, margin, and padding
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

//Corrects color not being inherited in IE6/7/8/9
//Corrects text not wrapping in FF3
//Corrects alignment displayed oddly in IE6/7
legend {
    border: 0; 
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

//Corrects font size not being inherited in all browsers
//Addresses margins set differently in IE6/7, FF3+, S5, Chrome
//Improves appearance and consistency in all browsers
button, input, select, textarea {
    font-size: 100%;
    margin: 0; 
    vertical-align: baseline; 
    *vertical-align: middle; 
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
button, input {
    line-height: normal;
}

// Improves usability and consistency of cursor style between image-type 'input' and others
// Corrects inability to style clickable 'input' types in iOS
// Removes inner spacing in IE7 without affecting normal text inputs
// Known issue: inner spacing remains in IE6
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer; 
    -webkit-appearance: button; 
    *overflow: visible; 
}

// Re-set default cursor for disabled elements
button[disabled], input[disabled] {
    cursor: default;
}

//Addresses box sizing set to content-box in IE8/9
//Removes excess padding in IE8/9
//Removes excess padding in IE7
//Known issue: excess padding remains in IE6
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box; 
    padding: 0;
    *height: 13px; 
    *width: 13px;
}

// Addresses appearance set to searchfield in S5, Chrome
// Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

// Removes inner padding and search cancel button in S5, Chrome on OS X
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

// Removes inner padding and border in FF3+
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Removes default vertical scrollbar in IE6/7/8/9
// Improves readability and alignment in all browsers
textarea {
    overflow: auto;
    vertical-align: top;
}


// Tables
table {
    border-collapse: collapse;
    border-spacing: 0;
}