// Reference only (not used)
$smke-red: #EB2813;

// Text
$default-link-color:        #F12823;
$default-hover:             #EB2813;
$default-text:              #313120;
$default-date-color:        #ABABA1;
$email-submit-button-text:  #ffffff;
$event-date-text:           #323221;
$event-title-hover:         #313120;
$facebook-link-color:       #F12823;
$footer-text:               #B8B8B8;
$headline-text-shadow:      #888887;
$share-text:                #AFAEAE;
$twitter-link-color:        #F12823;
$twitter-date-color:        #ABABA1;
$twitter-icon-color:        #00ACE8;

//Buttons
$email-submit-button-bg:    #313120;
$event-follow-button-bg:    #313120;
$facebook-follow-button-bg: #3B5A94;
$jobs-button-bg:            #EB2813;
$plus-button-bg:            #B4B4B4;
$share-button-bg:           #F0F0F0;
$twitter-follow-button-bg:  #00ACE8;

// Backgrounds
$default-bg-color:          #313120;
$event-feed-bg:             #E9250F;
$footer-social-bg:          #F4F3F0;
$twitter-feed-bg:           #F4F3F0;
$jobs-widget-bg:            #F4F3F0;

// Decorations
$default-border-color:      #D22713;
$jobs-border-color:         #D0D0C8;
$twitter-border-color:      #D0D0C8;
