@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

// Icon Font
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-facebook, .icon-twitter, .icon-envelop, .icon-calendar, .icon-book-alt2 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
  content: "\e000";
}
.icon-twitter:before {
  content: "\e002";
}
.icon-envelop:before {
  content: "\e001";
}
.icon-calendar:before {
  content: "\e003";
}
.icon-book-alt2:before {
  content: "\e004";
}

//////////////////////////////
// Header Navigation
//////////////////////////////
.menu {
  
  a {
    color: $default-text;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.9em;
    text-transform:uppercase;
    letter-spacing: 0.25em;
  }
    
  a:hover {
    color: $default-hover;
  }
}

//////////////////////////////
// Header - Hero
//////////////////////////////
.headline {

  .home-first-line, .first-line, .second-line {
    color: white;
    font-family: Montserrat, Arial, Sans-Serif;
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: $headline-text-shadow 2px 2px;
    line-height: 1.1;
    letter-spacing: 0.25em;

    @include breakpoint ('regular'){
      font-size: 3em;      
    }
  }

  .second-line {
    font-size: 1.3em;

    @include breakpoint ('regular') {
      font-size: 2.5em;
    }
  }
}

//////////////////////////////
// Header Email Signup Form
//////////////////////////////
.header-email-signup{
  padding-top: 1em;

  .header-email-label, .header-email-input, .header-email-button {
      height: 2em;
      font-size: 1.0em;
      font-weight: 400;
      text-transform: uppercase;
  }
  
  .header-email-label {
    padding-top: 0.3em;
    font-family: Montserrat, Arial, Sans-Serif;
    font-weight: 700;
    letter-spacing: 0.25em;
  }

  .header-email-input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    text-transform: none;
    letter-spacing: 0em;
  }
    
  .header-email-button {
    color: $email-submit-button-text;
    background: $email-submit-button-bg;
    font-family: Montserrat, Arial, Sans-Serif;
    font-weight: 400;
    font-size: 0.9em;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 0.25em;
  }
  .header-email-button:hover {
    box-shadow: none;
    background-color: lighten($email-submit-button-bg, 5%);
  }

}

//////////////////////////////
// Post Summary
//////////////////////////////
h1, h2, h3, h4, h5, h6, p, ul, li, a {
  font-family: Montserrat, Arial, Sans-Serif;
  font-weight: 400;
}

.site-content {

  .entry-meta {
    
    a{
      text-decoration: none;
    }

    time {
      color: $twitter-date-color;
      font-family: "Times New Roman", Times, serif;
      font-size: 0.8em;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }
    
    time:hover {
      color: $default-hover;
    }
    
    .comment-link {
      
      a {
        color: $twitter-date-color;
        font-family: "Times New Roman", Times, serif;
        font-size: 0.8em;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.25em;
      }
    }

    .comment-link:hover {
      
      a{
        color: $default-hover;
      }
    }
  }
  
  .entry-title {
    margin: 0;
    font-size: 2.1em;

    a {
      color: $default-text;
      font-family: Montserrat, Arial, Sans-Serif;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
    
    a:hover {
      color: $default-hover; 
    }
  }

  .entry-content {
    
    h1, h2, h3, h4, h5, h6, p, ul, li, a {
      color: $default-text;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 200;
    }
    
    a {
      font-style: italic;
    }

    .read-more {
      color: $default-link-color;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
    }
    .read-more:hover {
      color: darken($default-hover, 20%);
    }
  }
  
  .share {
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.5em;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.25em;
  }

  .share:hover{
    color: #000;
    .plus{
      color: #222;
    }
  }

  .plus{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
  }
}

.job-posting {

  .job-button { // Note there is a jobs-button (plural) for the widget area
    
    a{
      color: white;
      font-family: Montserrat, Arial, Sans-Serif;
      font-size: 0.8em;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
      letter-spacing: 0.25em;
    }
  }
}
///////////////////////////////
// Widgets
///////////////////////////////


.widget {

  .widget-title {
    font-size: 1.8em;
    letter-spacing: 0.25em;
    line-height: 1;
    text-transform: uppercase;
  }

  .entry-meta {
  
    a {
      color: $default-date-color;
      font-size: 0.8em;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }

    a:hover {
      color: $default-hover;
    }
  }

  .entry-content, .textwidget {
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    a {
      color: $default-link-color;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
    }
    
    a:hover {
      color: $default-hover;
    }
  }
}


////////////////////////////
// Widget - Event Calendar
////////////////////////////

.tribe-events-list-widget,  {
  color: white;

  a {
    color: white;
    font-size: 1.0em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
  }

  .duration {
      font-family: "Times New Roman", Times, serif;
      color: $event-date-text;
      font-style: italic;
      font-weight: 100;
      font-size: 0.8em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.25em;
  }

  .event-title { 
    a:hover{
      color: $event-title-hover;
    }
  }

  .tribe-events-widget-link{ // View More Button
    font-size: 0.8em;
    
    a:before{ // Calendar Icon
        content: "\e003";
        font-family: 'icomoon';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        speak: none;
        padding-right: 0.7em;
    }
  }
}

////////////////////////////
// Widget - Jobs
////////////////////////////
.widget-jobs {

  .jobs-button { // Note ther is a job-button (singular) for non-widget jobs related buttons
    
    a{
      color: white;
      font-size: 0.8em;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
      letter-spacing: 0.25em;
    }
  }
}
///////////////////////////////
// Widget - Twitter
///////////////////////////////
.title-icon {
  color: $twitter-icon-color;
}

.time-meta {
  
  a {
    font-family: "Times New Roman", Times, serif;
    color: $twitter-date-color;
    font-style: italic;
    font-weight: 100;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
  }
  a:hover {
    color: $default-hover;
  }
}

.follow-button {
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
}

.button-icon {
  color: white;
}

//////////////////////////////
// Footer 
//////////////////////////////

// Top Row
.footer-follow {

  .follow-text {
    font-size: 1.25em;
    letter-spacing: 0.30em;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }

  .follow-links {
    text-align: center; 
   
    a{ 
      color: white;
      font-size: 0.8em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.25em;
    }
  }
}
//Email Signup Form

.footer-email-signup{

  .footer-email-label, .footer-email-input, .footer-email-button {
    height: 2em;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
  }
  .footer-email-label {
    font-family: Montserrat, Arial, Sans-Serif;
    font-weight: 700;
    letter-spacing: 0.25em;
  }

  .footer-email-input {
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    text-transform: none;
    letter-spacing: 0.1em;
  }
    
  .footer-email-button {
    color: $email-submit-button-text;
    background: $email-submit-button-bg;
    font-family: Montserrat, Arial, Sans-Serif;
    font-weight: 400;
    font-size: 0.9em;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 0.25em;
  }
  .footer-email-button:hover {
    box-shadow: none;
    background-color: lighten($email-submit-button-bg, 5%);
  }

}

////////////////////////////
// Startup Page
////////////////////////////

.startup-button {
      color: white;
      font-family: Montserrat, Arial, Sans-Serif;
      font-size: 0.8em;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
      letter-spacing: 0.25em;
}

////////////////////////////
// About Page
////////////////////////////

#content{

 .about-headline {
      margin: 0;
      font-size: 2.1em;color: $default-text;
      font-family: Montserrat, Arial, Sans-Serif;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
  }

  .about-statement {
    p {
      color: $default-text;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.90em;
    }
  }
  
  .link {
    
    a{
      color: white;
      font-family: Montserrat, Arial, Sans-Serif;
      font-size: 0.8em;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
      letter-spacing: 0.25em;
    }
  }
}