/*!
Theme Name: Startup Milwaukee 
Author: Snow Day Group
Author URI: http://snowdaygroup.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.2
textdomain: wolf_starter;

WOLF is based on _S ("Underscores"), Copyright (c) 2012 Automattic, Inc. http://underscores.me/
*/

@import "reset";         
@import "s";
@import "foundation";
@import "mixins";
@import "helpers";
@import "settings";
@import "layout";
@import "typography";
@import "forms";
@import "buttons";
@import "header";
@import "footer";

@import "comments";

.mnav {
float: none;
margin-top: 1em;
margin-bottom: 1em;
}

.main-navigation a {
	font-size: 1em;
	color: #31311e;
}
.startup-row{
	.entry-content{
		width: 90%;
		img{
			max-width: 90%;
		}
	}
}

@include breakpoint('regular'){
	.header-email-signup{
		.gform_body{
			margin-left:5em;
		}
		label{
			@extend .header-email-label;
			float: left;
		}
		input{
			@extend .header-email-input;
			margin-top: 0em;
			margin-left: -2em;
		}
		.form_footer{
			float: right;
			width: 20%;
			margin: -45px 85px 0 0;
		}
		.gform_button{
			@extend .form_footer;
			margin: -65px 130px;
			margin-top: -4em;
			padding-left: .9em;
			color: $email-submit-button-text !important;
			background: $email-submit-button-bg !important;
			font-family: Montserrat, Arial, Sans-Serif !important;
			font-weight: 400 !important;
			font-size: 0.9em !important;
			text-decoration: none !important;
			text-shadow: none !important;
			letter-spacing: 0.25em !important;
			border: none !important;
			box-shadow: none !important;
			text-transform: uppercase !important;
			width: 150px !important;
			border-radius: none !important;
			&:hover{
				background: lighten( $email-submit-button-bg, 20%) !important;

			}
		}
	}
}

.share{
	cursor: pointer;
	display: block;
	float: right;
	margin-left: 100%;
}

.share-hidden{
	display: none;
	float: right;
	margin-left: 90%;
	width: 100%;
}
.sd-content ul{
	float: right;
}

#tribe-events-bar{
	display: none !important;
}

.main-navigation ul ul li {
	background-color: #FFF;
	padding: 1em;
	margin: 0;
	line-height: 1;
}

.site-header .logo img {
	background-color: #FFF;
	padding: 5% 15% !important;
	margin-left: 0em !important;
}

.header-email-signup {
	.gfield_label{
		text-align: center !important;
		width: 100% !important;
	}
	input{
		width: 90% !important;
		margin-left: 5% !important;
	}

	@include breakpoint('regular'){
		.gfield_label{
			text-align: left !important;
			width: 29% !important;
		}
		input{
			width: 35% !important;
			margin-left: 0 !important;
		}
	}
}