@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*
Theme Name: Startup Milwaukee 
Author: Snow Day Group
Author URI: http://snowdaygroup.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.2
textdomain: wolf_starter;

WOLF is based on _S ("Underscores"), Copyright (c) 2012 Automattic, Inc. http://underscores.me/
*/
/* 
* CSS reset. Slightly modified version of the normalize.css reset - http://github.com/necolas/normalize.css 
* Modifications by Scott Lyttle
*/
html { font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */ overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */ -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */ -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

body { background: #fff; }

article, aside, details, figcaption, figure, footer, header, nav, section { display: block; }

ol, ul { list-style: none; }

table { /* tables still need 'cellspacing="0"' in the markup */ border-collapse: separate; border-spacing: 0; }

caption, th, td { font-weight: normal; text-align: left; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

a:focus { outline: thin dotted; }

a:hover, a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */ outline: 0; }

a img { border: 0; }

article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; -webkit-margin-before: 0em; -webkit-margin-after: 0em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

/* =Global
----------------------------------------------- */
body, button, input, select, textarea { color: #404040; font-family: sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.5; }

/* Headings */
h1, h2, h3, h4, h5, h6 { clear: both; }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

/* Text elements */
p { margin-bottom: 1.5em; }

ul, ol { margin: 0 0 1.5em 3em; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ul, li > ol { margin-bottom: 0; margin-left: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

b, strong { font-weight: bold; }

dfn, cite, em, i { font-style: italic; }

blockquote { margin: 0 1.5em; }

address { margin: 0 0 1.5em; }

pre { background: #eee; font-family: "Courier 10 Pitch", Courier, monospace; font-size: 15px; font-size: 1rem; line-height: 1.6; margin-bottom: 1.6em; padding: 1.6em; overflow: auto; max-width: 100%; }

code, kbd, tt, var { font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }

mark, ins { background: #fff9c0; text-decoration: none; }

sup, sub { font-size: 75%; height: 0; line-height: 0; position: relative; vertical-align: baseline; }

sup { bottom: 1ex; }

sub { top: .5ex; }

small { font-size: 75%; }

big { font-size: 125%; }

figure { margin: 0; }

table { margin: 0 0 1.5em; width: 100%; }

th { font-weight: bold; }

button, input, select, textarea { font-size: 100%; /* Corrects font size not being inherited in all browsers */ margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */ vertical-align: baseline; /* Improves appearance and consistency in all browsers */ *vertical-align: middle; /* Improves appearance and consistency in all browsers */ }

button, input { line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */ }

button, html input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid #ccc; border-color: #ccc #ccc #bbb #ccc; border-radius: 3px; background: #e6e6e6; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.8); cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */ -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */ font-size: 12px; font-size: 1.2rem; line-height: 1; padding: .6em 1em .4em; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { border-color: #ccc #bbb #aaa #bbb; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { border-color: #aaa #bbb #bbb #bbb; box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */ padding: 0; /* Addresses excess padding in IE8/9 */ }

input[type="search"] { -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */ -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */ -moz-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */ -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */ border: 0; padding: 0; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; }

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus { color: #111; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"] { padding: 3px; }

textarea { overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */ padding-left: 3px; vertical-align: top; /* Improves readability and alignment in all browsers */ width: 98%; }

/* Links */
a { color: royalblue; }

a:visited { color: purple; }

a:hover, a:focus, a:active { color: midnightblue; }

/* Alignment */
.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin: 0 auto; }

/* Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar */ }

/* Clearing */
.clear:before, .clear:after, [class*="content"]:before, [class*="content"]:after, [class*="site"]:before, [class*="site"]:after { content: ''; display: table; }

.clear:after, [class*="content"]:after, [class*="site"]:after { clear: both; }

/* =Menu
----------------------------------------------- */
.navigation-main { clear: both; display: block; float: left; width: 100%; }

.navigation-main ul { list-style: none; margin: 0; padding-left: 0; }

.navigation-main li { float: left; position: relative; }

.navigation-main a { display: block; text-decoration: none; }

.navigation-main ul ul { -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); display: none; float: left; position: absolute; top: 1.5em; left: 0; z-index: 99999; }

.navigation-main ul ul ul { left: 100%; top: 0; }

.navigation-main ul ul a { width: 200px; }

.navigation-main ul li:hover > ul { display: block; }

/* Small menu */
.menu-toggle { display: none; cursor: pointer; }

.main-small-navigation ul { display: none; }

@media screen and (max-width: 600px) { .menu-toggle, .main-small-navigation ul.nav-menu.toggled-on { display: block; }
  .navigation-main ul { display: none; } }
/* =Content
----------------------------------------------- */
.hentry { margin: 0 0 1.5em; }

.byline { display: none; }

.single .byline, .group-blog .byline { display: inline; }

.entry-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title, .archive .format-aside .entry-title { display: none; }

/* =Media
----------------------------------------------- */
.site-header img, .entry-content img, .comment-content img, .widget img { max-width: 100%; /* Fluid images for posts, comments, and widgets */ }

.site-header img, .entry-content img, .comment-content img[height], img[class*="align"], img[class*="wp-image-"] { height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

.site-header img, .entry-content img, img.size-full { max-width: 100%; width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */ }

.entry-content img.wp-smiley, .comment-content img.wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

.wp-caption { border: 1px solid #ccc; margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin: 1.2% auto 0; max-width: 98%; }

.wp-caption-text { text-align: center; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.site-content .gallery { margin-bottom: 1.5em; }

.site-content .gallery a img { border: none; height: auto; max-width: 90%; }

.site-content .gallery dd { margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed, iframe, object { max-width: 100%; }

/* =Navigation
----------------------------------------------- */
.site-content [class*="navigation"] { margin: 0 0 1.5em; overflow: hidden; }

[class*="navigation"] .nav-previous { float: left; width: 50%; }

[class*="navigation"] .nav-next { float: right; text-align: right; width: 50%; }

/* =Comments
----------------------------------------------- */
.comment-content a { word-wrap: break-word; }

/* =Widgets
----------------------------------------------- */
.widget { margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select { max-width: 100%; }

/* Search widget */
.widget_search .submit { display: none; }

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .navigation-paging, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer { display: block; }

/* =Grid  --  Artfully Masterminded by ZURB.
----------------------------------------------- */
.container { padding: 0px 20px; }

.row { width: 100%; max-width: 940px; min-width: 720px; margin: 0 auto; }

/* To fix the grid into a different size, set max-width to your desired width */
.row .row { min-width: 0px; }

.column, .columns { margin-left: 2.127663%; box-sizing: border-box; float: left; min-height: 1px; position: relative; }

.column:first-child, .columns:first-child, .alpha, .omega { margin-left: 0px; }

[class*="column"] + [class*="column"]:last-child { float: right; }

.row .one.columns { width: 6.382989%; }

.row .two.columns { width: 14.893641%; }

.row .three.columns { width: 23.404293%; }

.row .four.columns { width: 31.914945%; }

.row .five.columns { width: 40.425597%; }

.row .six.columns { width: 48.936249%; }

.row .seven.columns { width: 57.446901%; }

.row .eight.columns { width: 65.957553%; }

.row .nine.columns { width: 74.468205%; }

.row .ten.columns { width: 82.978857%; }

.row .eleven.columns { width: 91.489509%; }

.row .twelve.columns { width: 100%; }

/*** Formula: Column Width + Twice the Default Margin ***/
.row .push_one { margin-left: 10.638315%; }

.row .push_two { margin-left: 19.148967%; }

.row .push_three { margin-left: 27.659619%; }

.row .push_four { margin-left: 36.170271%; }

.row .push_five { margin-left: 44.680923%; }

.row .push_six { margin-left: 53.191575%; }

.row .push_seven { margin-left: 61.702227%; }

.row .push_eight { margin-left: 70.212879%; }

.row .push_nine { margin-left: 78.723531%; }

.row .push_ten { margin-left: 87.234183%; }

/*.row .push_eleven     { margin-left: 95.744835%;  }*/
/* Centering Columns is fun */
.row .one.centered { margin-left: 46.808586%; }

.row .two.centered { margin-left: 42.55326%; }

.row .three.centered { margin-left: 38.297934%; }

.row .four.centered { margin-left: 34.042608%; }

.row .five.centered { margin-left: 29.787282%; }

.row .six.centered { margin-left: 25.531956%; }

.row .seven.centered { margin-left: 21.27663%; }

.row .eight.centered { margin-left: 17.021304%; }

.row .nine.centered { margin-left: 12.765978%; }

.row .ten.centered { margin-left: 8.510652%; }

.row .eleven.centered { margin-left: 4.255326%; }

/*** Formula: Column Width + Default Margin ***/
.row .push_one:first-child { margin-left: 8.510652%; }

.row .push_two:first-child { margin-left: 17.021304%; }

.row .push_three:first-child { margin-left: 25.531956%; }

.row .push_four:first-child { margin-left: 34.042608%; }

.row .push_five:first-child { margin-left: 42.55326%; }

.row .push_six:first-child { margin-left: 51.063912%; }

.row .push_seven:first-child { margin-left: 59.574564%; }

.row .push_eight:first-child { margin-left: 68.085216%; }

.row .push_nine:first-child { margin-left: 76.596868%; }

.row .push_ten:first-child { margin-left: 85.10652%; }

.row .push_eleven:first-child { margin-left: 93.617172%; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after { content: ""; display: table; }

.row:after, .clearfix:after { clear: both; }

.row, .clearfix { zoom: 1; }

/* =Menu
----------------------------------------------- */
.main-navigation { clear: both; display: block; float: left; width: 100%; }

.main-navigation ul { list-style: none; margin: 0; padding-left: 0; }

.main-navigation li { float: left; position: relative; }

.main-navigation a { display: block; text-decoration: none; }

.main-navigation ul ul { -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); display: none; float: left; position: absolute; top: 1.5em; left: 0; z-index: 99999; }

.main-navigation ul ul ul { left: 100%; top: 0; }

.main-navigation ul ul a { width: 200px; }

.main-navigation ul li:hover > ul { display: block; }

/* Small menu */
.menu-toggle { cursor: pointer; }

.main-small-navigation .menu { display: none; }

/* =Content
----------------------------------------------- */
.hentry { margin: 0 0 1.5em; }

.entry-meta { clear: both; }

.byline { display: none; }

.single .byline, .group-blog .byline { display: inline; }

.entry-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title, .archive .format-aside .entry-title { display: none; }

/* =Media
----------------------------------------------- */
.site-header img, .entry-content img, .comment-content img, .widget img { max-width: 100%; /* Fluid images for posts, comments, and widgets */ }

.site-header img, .entry-content img, img[class*="align"], img[class*="wp-image-"] { height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

.site-header img, .entry-content img, img.size-full { max-width: 100%; width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */ }

.entry-content img.wp-smiley, .comment-content img.wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

.wp-caption { border: 1px solid #ccc; max-width: 100%; }

.wp-caption.aligncenter, .wp-caption.alignleft, .wp-caption.alignright { margin-bottom: 1.5em; }

.wp-caption img { display: block; margin: 1.2% auto 0; max-width: 98%; }

.wp-caption-text { text-align: center; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

#content .gallery { margin-bottom: 1.5em; }

#content .gallery a img { border: none; height: auto; max-width: 90%; }

#content .gallery dd { margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed, iframe, object { max-width: 100%; }

/* =Navigation
----------------------------------------------- */
#content .site-navigation { margin: 0 0 1.5em; overflow: hidden; }

#content .nav-previous { float: left; width: 50%; }

#content .nav-next { float: right; text-align: right; width: 50%; }

/* =Comments
----------------------------------------------- */
/* =Widgets
----------------------------------------------- */
.widget { margin: 0 0 1.5em; }

/* Search widget */
#searchsubmit { display: none; }

/* =Responsive Structure
----------------------------------------------- */
@media only screen and (max-width: 480px) { /* Style adjustments for viewports 480px and under go here */
  .row { text-align: center; } }
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  .row .row .column, .row .row .columns { padding: 0; }
  .column, .columns { width: auto !important; float: none; margin-left: 0px; margin-right: 0px; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before, [class*="column"]:after { display: table; }
  [class*="column"]:after { clear: both; }
  .push_one, .push_two, .push_three, .push_four, .push_five, .push_six, .push_seven, .push_eight, .push_nine, .push_ten, .push_eleven, .centered { margin-left: 0% !important; } }
/* =IE Fixes
----------------------------------------------- */
/* =IE8 and below
----------------- */
/* =IE7 and below
----------------- */
.lt-ie8 .clearfix { height: 1%; }

/*------------------------------------*\ helpers
\*------------------------------------*/
/* hide from everything ------------- */
/* clearfix ------------------------- */
/* remove margin from nested lists -- */
li > ul, li > ol { margin-bottom: 0; }

* { word-wrap: break-word; }

/* prevents long titles from breaking */
.row { max-width: 960px; }

.site-main { margin-top: -1.3em; }

#content { width: 90%; margin: 0 auto; }
@media (min-width: 48em) { #content { width: 100%; } }

.site-content { margin-top: 1.5em; }
.site-content .entry-content { margin: 3em 0 0; line-height: 1.90em; }

footer.entry-meta { margin-bottom: 5.8em; }

.share { background-color: #f0f0f0; float: right; padding: 1.0em 1em; border-radius: 2px; }

.share:hover { background-color: #bdbdbd; }
.share:hover .plus { background-color: white; }

.plus { background-color: #b4b4b4; text-align: right; margin-right: 0.5em; padding: 0.0em 0.2em 0.2em 0.35em; border-radius: 3px; display: inline; }

.job-button a { background-color: #eb2813; float: right; padding: 0.9em 1em; }

.widget { margin-bottom: 3em; }
@media (min-width: 48em) { .widget { margin-bottom: 5em; } }
.widget h1 { border-bottom: 1px solid #d22713; margin: 0em 0.5em; padding: 1.15em 0 0.2em 0.0em; }
.widget ul, .widget ol { margin: 0; padding: 1em 1em; list-style: none; }
.widget li { margin: 1.5em 0em 0em 0em; }

.tribe-events-list-widget { background-color: #e9250f; }
.tribe-events-list-widget .tribe-events-widget-link a { color: white; background-color: #313120; float: right; padding: 0.7em 1em; }

.widget-jobs { background-color: #f4f3f0; }
.widget-jobs .widget-title { border-bottom: 1px solid #d0d0c8; }
.widget-jobs .textwidget { padding: 1em 1em; }
.widget-jobs .jobs-button a { background-color: #eb2813; float: right; padding: 0.9em 1em; }

.twitter-title-div { background-color: #f4f3f0; }

.widget_twitter h1 { border-bottom: 1px solid #d0d0c8; }
.widget_twitter ul, .widget_twitter ol { background-color: #f4f3f0; }

.from-meta, .intent-meta { display: none; }

.follow-button { display: inherit; float: right; background-color: #00ace8; padding: 0.7em 1em; }

.button-icon { margin: 0 7px 0px 0px; }

@media (min-width: 48em) { .startup-row { margin-bottom: 3em; margin-top: -2.3em; } }

.startup-logo { text-align: center; min-width: 300px; min-height: 210px; }

.startup-button { background-color: #eb2813; padding: 0.9em 1em; clear: both; float: right; }

#content .feature-image, #content .picture, #content .partner-picture { text-align: center; }
#content .picture img { border-radius: 50%; }
#content .link a { color: white; background-color: #313120; float: right; padding: 0.9em 1em; }

@font-face { font-family: 'icomoon'; src: url("fonts/icomoon.eot"); src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg"); font-weight: normal; font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before { font-family: 'icomoon'; content: attr(data-icon); speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-facebook, .icon-twitter, .icon-envelop, .icon-calendar, .icon-book-alt2 { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }

.icon-facebook:before { content: "\e000"; }

.icon-twitter:before { content: "\e002"; }

.icon-envelop:before { content: "\e001"; }

.icon-calendar:before { content: "\e003"; }

.icon-book-alt2:before { content: "\e004"; }

.menu a { color: #313120; font-family: "Times New Roman", Times, serif; font-size: 0.9em; text-transform: uppercase; letter-spacing: 0.25em; }
.menu a:hover { color: #eb2813; }

.headline .home-first-line, .headline .first-line, .headline .second-line { color: white; font-family: Montserrat, Arial, Sans-Serif; font-size: 1.9em; font-weight: 700; text-align: center; text-transform: uppercase; text-shadow: #888887 2px 2px; line-height: 1.1; letter-spacing: 0.25em; }
@media (min-width: 48em) { .headline .home-first-line, .headline .first-line, .headline .second-line { font-size: 3em; } }
.headline .second-line { font-size: 1.3em; }
@media (min-width: 48em) { .headline .second-line { font-size: 2.5em; } }

.header-email-signup { padding-top: 1em; }
.header-email-signup .header-email-label, .header-email-signup .header-email-input, .header-email-signup .header-email-button { height: 2em; font-size: 1.0em; font-weight: 400; text-transform: uppercase; }
.header-email-signup .header-email-label { padding-top: 0.3em; font-family: Montserrat, Arial, Sans-Serif; font-weight: 700; letter-spacing: 0.25em; }
.header-email-signup .header-email-input { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left; text-transform: none; letter-spacing: 0em; }
.header-email-signup .header-email-button { color: white; background: #313120; font-family: Montserrat, Arial, Sans-Serif; font-weight: 400; font-size: 0.9em; text-decoration: none; text-shadow: none; letter-spacing: 0.25em; }
.header-email-signup .header-email-button:hover { box-shadow: none; background-color: #40402a; }

h1, h2, h3, h4, h5, h6, p, ul, li, a { font-family: Montserrat, Arial, Sans-Serif; font-weight: 400; }

.site-content .entry-meta a { text-decoration: none; }
.site-content .entry-meta time { color: #ababa1; font-family: "Times New Roman", Times, serif; font-size: 0.8em; font-weight: 100; text-transform: uppercase; letter-spacing: 0.25em; }
.site-content .entry-meta time:hover { color: #eb2813; }
.site-content .entry-meta .comment-link a { color: #ababa1; font-family: "Times New Roman", Times, serif; font-size: 0.8em; font-weight: 100; text-transform: uppercase; letter-spacing: 0.25em; }
.site-content .entry-meta .comment-link:hover a { color: #eb2813; }
.site-content .entry-title { margin: 0; font-size: 2.1em; }
.site-content .entry-title a { color: #313120; font-family: Montserrat, Arial, Sans-Serif; font-weight: 700; text-transform: uppercase; text-decoration: none; }
.site-content .entry-title a:hover { color: #eb2813; }
.site-content .entry-content h1, .site-content .entry-content h2, .site-content .entry-content h3, .site-content .entry-content h4, .site-content .entry-content h5, .site-content .entry-content h6, .site-content .entry-content p, .site-content .entry-content ul, .site-content .entry-content li, .site-content .entry-content a { color: #313120; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 200; }
.site-content .entry-content a { font-style: italic; }
.site-content .entry-content .read-more { color: #f12823; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; }
.site-content .entry-content .read-more:hover { color: #8d180b; }
.site-content .share { color: #444; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0.5em; font-style: normal; font-weight: normal; text-transform: none; text-decoration: none; line-height: 1; letter-spacing: 0.25em; }
.site-content .share:hover { color: #000; }
.site-content .share:hover .plus { color: #222; }
.site-content .plus { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; font-size: 1.5em; font-weight: 700; }

.job-posting .job-button a { color: white; font-family: Montserrat, Arial, Sans-Serif; font-size: 0.8em; font-style: normal; font-weight: normal; text-transform: uppercase; text-decoration: none; line-height: 1; letter-spacing: 0.25em; }

.widget .widget-title { font-size: 1.8em; letter-spacing: 0.25em; line-height: 1; text-transform: uppercase; }
.widget .entry-meta a { color: #ababa1; font-size: 0.8em; font-style: italic; text-transform: uppercase; letter-spacing: 0.25em; }
.widget .entry-meta a:hover { color: #eb2813; }
.widget .entry-content, .widget .textwidget { font-weight: 200; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.widget .entry-content a, .widget .textwidget a { color: #f12823; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; }
.widget .entry-content a:hover, .widget .textwidget a:hover { color: #eb2813; }

.tribe-events-list-widget { color: white; }
.tribe-events-list-widget a { color: white; font-size: 1.0em; text-transform: uppercase; text-decoration: none; letter-spacing: 0.25em; }
.tribe-events-list-widget .duration { font-family: "Times New Roman", Times, serif; color: #323221; font-style: italic; font-weight: 100; font-size: 0.8em; text-transform: uppercase; text-decoration: none; letter-spacing: 0.25em; }
.tribe-events-list-widget .event-title a:hover { color: #313120; }
.tribe-events-list-widget .tribe-events-widget-link { font-size: 0.8em; }
.tribe-events-list-widget .tribe-events-widget-link a:before { content: "\e003"; font-family: 'icomoon'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; speak: none; padding-right: 0.7em; }

.widget-jobs .jobs-button a { color: white; font-size: 0.8em; font-style: normal; font-weight: normal; text-transform: uppercase; text-decoration: none; line-height: 1; letter-spacing: 0.25em; }

.title-icon { color: #00ace8; }

.time-meta a { font-family: "Times New Roman", Times, serif; color: #ababa1; font-style: italic; font-weight: 100; font-size: 0.8em; text-transform: uppercase; text-decoration: none; letter-spacing: 0.25em; }
.time-meta a:hover { color: #eb2813; }

.follow-button { color: white; font-size: 0.8em; text-transform: uppercase; text-decoration: none; letter-spacing: 0.25em; }

.button-icon { color: white; }

.footer-follow .follow-text { font-size: 1.25em; letter-spacing: 0.30em; text-transform: uppercase; text-align: center; line-height: 1; }
.footer-follow .follow-links { text-align: center; }
.footer-follow .follow-links a { color: white; font-size: 0.8em; text-transform: uppercase; text-decoration: none; letter-spacing: 0.25em; }

.footer-email-signup .footer-email-label, .footer-email-signup .footer-email-input, .footer-email-signup .footer-email-button { height: 2em; font-size: 1.2em; font-weight: 400; text-transform: uppercase; }
.footer-email-signup .footer-email-label { font-family: Montserrat, Arial, Sans-Serif; font-weight: 700; letter-spacing: 0.25em; }
.footer-email-signup .footer-email-input { font-size: 1em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left; text-transform: none; letter-spacing: 0.1em; }
.footer-email-signup .footer-email-button { color: white; background: #313120; font-family: Montserrat, Arial, Sans-Serif; font-weight: 400; font-size: 0.9em; text-decoration: none; text-shadow: none; letter-spacing: 0.25em; }
.footer-email-signup .footer-email-button:hover { box-shadow: none; background-color: #40402a; }

.startup-button { color: white; font-family: Montserrat, Arial, Sans-Serif; font-size: 0.8em; font-style: normal; font-weight: normal; text-transform: uppercase; text-decoration: none; line-height: 1; letter-spacing: 0.25em; }

#content .about-headline { margin: 0; font-size: 2.1em; color: #313120; font-family: Montserrat, Arial, Sans-Serif; font-weight: 700; text-align: center; text-transform: uppercase; text-decoration: none; }
#content .about-statement p { color: #313120; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 200; line-height: 1.90em; }
#content .link a { color: white; font-family: Montserrat, Arial, Sans-Serif; font-size: 0.8em; font-style: normal; font-weight: normal; text-transform: uppercase; text-decoration: none; line-height: 1; letter-spacing: 0.25em; }

.logo img { box-shadow: 0 4px 3px -3px gray; }

.mnav { float: right; }

.menu-top-nav-left-container, .menu-top-nav-right-container { float: right; margin-right: -2em; padding-top: 2em; }
.menu-top-nav-left-container li, .menu-top-nav-right-container li { margin: 0 0.55em; }

.menu-top-nav-right-container { float: left; margin-left: -2em; }

.site-header .logo { display: block; text-align: center; }
.site-header .logo img { background-color: #fff; padding: 1% 5%; margin-left: 5em; }
@media (min-width: 48em) { .site-header .logo img { padding: 5% 15%; margin-left: 0; } }

.home-hero-bg { margin-top: -280px; margin-bottom: 5.3em; height: 400px; background: url("images/home-hero-bg.jpg"); background-size: cover; }
@media (min-width: 48em) { .home-hero-bg { margin-top: -285px; } }

.hero-bg { margin-top: -180px; margin-bottom: 5.3em; height: 200px; background: url("images/hero-bg.jpg"); background-size: cover; }
@media (min-width: 48em) { .hero-bg { margin-top: -170px; } }

.headline .home-first-line { margin-top: 0.5em; }
@media (min-width: 48em) { .headline .home-first-line { margin-top: 1.85em; } }
.headline .first-line { margin-top: -1em; }
@media (min-width: 48em) { .headline .first-line { margin-top: 0.5em; } }

.header-email-signup { height: 3em; }
.header-email-signup .header-email-label { float: none; }
@media (min-width: 48em) { .header-email-signup .header-email-label, .header-email-signup label { float: right; font-size: 1.2em; } }
.header-email-signup .header-email-input, .header-email-signup .header-email-button { margin-top: 0.5em; padding: 0.0em 0.3em; border: none; border-radius: 0; box-shadow: none; -webkit-appearance: button; }
@media (min-width: 48em) { .header-email-signup .header-email-input, .header-email-signup input, .header-email-signup .header-email-button { margin-top: 0; } }
.header-email-signup .header-email-input { width: 70%; }
@media (min-width: 48em) { .header-email-signup .header-email-input, .header-email-signup input { width: 100%; } }
.header-email-signup .header-email-button { width: 50%; }
@media (min-width: 48em) { .header-email-signup .header-email-button { width: 75%; height: 2.3em; } }

.footer-follow { height: 16em; margin-top: 9.3em; background-color: #F4F3F0; }
.footer-follow .follow-text { padding-top: 3.6em; margin-bottom: -0.5em; }
.footer-follow .follow-links a { padding: 0.7em 1em; }
.footer-follow .follow-links .tw { background-color: #00ace8; }
.footer-follow .follow-links .fb { background-color: #3b5a94; }

.footer-email-signup { padding-top: 7.0em; height: 10em; background-color: white; }
.footer-email-signup .footer-email-label { padding-top: 0.3em; float: none; }
@media (min-width: 48em) { .footer-email-signup .footer-email-label { float: right; } }
.footer-email-signup .footer-email-input, .footer-email-signup .footer-email-button { margin-top: 0.5em; padding: 0.0em 0.3em; border-radius: 0; box-shadow: none; -webkit-appearance: button; }
@media (min-width: 48em) { .footer-email-signup .footer-email-input, .footer-email-signup .footer-email-button { margin-top: 0; } }
.footer-email-signup .footer-email-input { width: 70%; border: 1px solid #AAA; }
@media (min-width: 48em) { .footer-email-signup .footer-email-input { width: 100%; } }
.footer-email-signup .footer-email-button { width: 50%; border: none; }
@media (min-width: 48em) { .footer-email-signup .footer-email-button { width: 50%; height: 2.35em; } }

.site-footer { padding-top: 1.5em; }
.site-footer * { margin: 0; padding: 0; }
.site-footer ul, .site-footer li, .site-footer a { font-family: "Times New Roman", Times, serif; font-weight: 400; color: #b8b8b8; padding-right: 0.4em; display: inline; list-style: none; text-decoration: none; }
.site-footer .credits a, .site-footer .copyright { color: #b8b8b8; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0.8em; font-weight: 400; text-align: left; text-transform: none; text-decoration: none; letter-spacing: 0em; }
@media (min-width: 20em) { .site-footer .credits a, .site-footer .copyright { text-align: center; } }
.site-footer a:hover { color: #b8b8b8; text-decoration: underline; }

.footer-bottom { background-color: #313120; height: 4.5em; }

.comment-author img { border-radius: 50%; float: left; padding: .2em; }

.mnav { float: none; margin-top: 1em; margin-bottom: 1em; }

.main-navigation a { font-size: 1em; color: #31311e; }

.startup-row .entry-content { width: 90%; }
.startup-row .entry-content img { max-width: 90%; }

@media (min-width: 48em) { .header-email-signup .gform_body { margin-left: 5em; }
  .header-email-signup label { float: left; }
  .header-email-signup input { margin-top: 0em; margin-left: -2em; }
  .header-email-signup .form_footer, .header-email-signup .gform_button { float: right; width: 20%; margin: -45px 85px 0 0; }
  .header-email-signup .gform_button { margin: -65px 130px; margin-top: -4em; padding-left: .9em; color: white !important; background: #313120 !important; font-family: Montserrat, Arial, Sans-Serif !important; font-weight: 400 !important; font-size: 0.9em !important; text-decoration: none !important; text-shadow: none !important; letter-spacing: 0.25em !important; border: none !important; box-shadow: none !important; text-transform: uppercase !important; width: 150px !important; border-radius: none !important; }
  .header-email-signup .gform_button:hover { background: #6f6f48 !important; } }
.share { cursor: pointer; display: block; float: right; margin-left: 100%; }

.share-hidden { display: none; float: right; margin-left: 90%; width: 100%; }

.sd-content ul { float: right; }

#tribe-events-bar { display: none !important; }

.main-navigation ul ul li { background-color: #FFF; padding: 1em; margin: 0; line-height: 1; }

.site-header .logo img { background-color: #FFF; padding: 5% 15% !important; margin-left: 0em !important; }

.header-email-signup .gfield_label { text-align: center !important; width: 100% !important; }
.header-email-signup input { width: 90% !important; margin-left: 5% !important; }
@media (min-width: 48em) { .header-email-signup .gfield_label { text-align: left !important; width: 29% !important; }
  .header-email-signup input { width: 35% !important; margin-left: 0 !important; } }
